/* ===================RESET================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================== */

body {
    background-color: rgb(218, 164, 164);
  }
  
  .wrapper {
    border: 2px #ecf1f5 solid;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.5;
    margin: 20px auto;
    width: 80%;
    box-shadow: 10px 10px 20px 20px rgb(0 0 0 / 0.23);
  }
  
  .twoColumns {
    display: flex;
  
  }
  .leftColumn {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px green solid;
    width: 26%;
    background-color: rgba(180, 216, 122, 0.685);
  }
  
  .rightColumn {
    border: 1px yellow solid;
    padding: 10px;
    width: 74%;
    height: 600px;
    background-color: rgb(121, 189, 160);
  }
  
  .footer {
    border: 1px red solid;
  }
  
  header{
    display: flex;
  }
  
  header img{
    border: 10px solid green;
    border-radius: 50%;
  
  }
  
  header h1 {
    text-transform: uppercase;
  }
  
  main ul {
    list-style: none;
  }
  
  main :not(.contacts) ul{
    list-style-type: disc;
    margin-left: 50px;
  }
  
  .contacts li p{
    display: inline;
    vertical-align: middle;
  }
  
  .languageName {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .subHeader{
    display: flex;
  }
  
  .rightColumn h3{
    padding-bottom: 32px;
    flex: 1;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777777;
    border-bottom: 2px solid black;
  }
  
  .courses ul{
    list-style-type: disc;
  
  }
  
  .rightColumn p, ul li{
    margin-left: 40px;
  }
  
  pre {
    padding-top: 20px;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: auto;
      overflow-y: hidden;
      font-size: 12px;
      line-height: 20px;
      background: #efefef;
      border: 2px solid rgb(19, 18, 18);
    border-radius: 10px;
      padding: 10px;
      color: #333;
  }
  
  .footer{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer a{
    text-decoration: none;
    color: darkblue
  }